{% extends 'base.html.twig' %}

{% block title %}WeatherCheckpoint{% endblock %}

{% block body %}
    <h1>WeatherCheckpoint</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ weather_checkpoint.id }}</td>
            </tr>
            <tr>
                <th>Temperature</th>
                <td>{{ weather_checkpoint.temperature }}</td>
            </tr>
            <tr>
                <th>SpeedWind</th>
                <td>{{ weather_checkpoint.speedWind }}</td>
            </tr>
            <tr>
                <th>CheckDate</th>
                <td>{{ weather_checkpoint.checkDate ? weather_checkpoint.checkDate|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('weather_checkpoint_index') }}">back to list</a>

    <a href="{{ path('weather_checkpoint_edit', {'id': weather_checkpoint.id}) }}">edit</a>

    {{ include('weather_checkpoint/_delete_form.html.twig') }}
{% endblock %}
